@charset "iso-8859-1";
.xtable {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9999CC;
	border-right-color: #9999CC;
	border-bottom-color: #9999CC;
	border-left-color: #9999CC;
	position: static;
	overflow: visible;
	visibility: visible;
	width: 174px;
	margin: 0px 0px 4px 0px;
	padding: 2px 0px 0px 0px;
	clear: both;
	float: none;
	height: auto;
}
.ximage {
	border: thin solid #666699;
}
a {
	text-decoration: none;
	filter: Shadow(Color=black, Direction=1);
	color: #0000CC;
}

.text {  font-family: Verdana, Arial, Helvetica; color: #9966CC; font-size: 10px; text-decoration: none; }

@p {  font-family: Verdana, Arial, Helvetica; color: #9966CC; font-size: 10px; text-decoration: none;}

@a { font-family: Verdana, Arial, Helvetica; font-size: 10px; color: #9999CC; text-decoration: none; }
@a:active {  font-family: Verdana, Arial, Helvetica; font-size: 10px; color: #9999CC; text-decoration: none; }
@a:hover { font-family: Verdana, Arial, Helvetica; font-size: 10px; color: #9999CC; text-decoration: underline; }
@a:link { font-family: Verdana, Arial, Helvetica; font-size: 10px; color: #9999CC; text-decoration: none; }

INPUT {	FONT-FAMILY: Verdana, Helvetica, Tahoma; FONT-SIZE: 11px; border: 1px solid #9966CC; background-color: #FFFFFF; color: #9966CC}
TEXTAREA { BORDER-BOTTOM: #9966CC 1px solid; BORDER-LEFT: #9966CC 1px solid; BORDER-RIGHT: #9966CC 1px solid; BORDER-TOP: #9966CC 1px solid; FONT-FAMILY: Verdana, Helvetica, Tahoma; FONT-SIZE: 11px; color: #9966CC}
BODY { SCROLLBAR-FACE-COLOR: #B0B0C8; SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; SCROLLBAR-SHADOW-COLOR: #FFFFFF; SCROLLBAR-3DLIGHT-COLOR: #9966CC; SCROLLBAR-ARROW-COLOR: #FFFFFF; SCROLLBAR-TRACK-COLOR: #F1F1F1; SCROLLBAR-DARKSHADOW-COLOR: #9966CC}

dt {
	font-weight: bolder;
	padding-top: 5px;
}
.xma {
	border: 2px solid #FFFFFF;
}
hr{
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9999CC;
	border-right-color: #9999CC;
	border-bottom-color: #9999CC;
	border-left-color: #9999CC;
	color: #9999CC;
	background-color: #9999CC;
}